<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
    <style>
        body {
            background-color: #217aff;
            text-align: center;
        }

        .edit-form {
            margin: auto;
            border-style: solid;
            padding: 25px;
        }
    </style>
</head>

<body>
    <h1>Please Edit the following record.</h1>

    <div class="edit-form">

        <form action="edit" method="GET">
            <input type="hidden" name="id" value={{id}} required><br>
            <label>Name</label><br>
            <input type="text" name="name" value={{name}} required><br>
            <label>Reps</label><br>
            <input type="number" name="reps" value={{reps}} required><br>
            <label>Weight</label><br>
            <input type="number" name="weight" value={{weight}} required><br>
            <label>Date</label><br>
            <input type="date" name="date" value={{date}} required><br>
            <label>Unit</label><br>
            <input type="text" name="unit" value={{unit}} required><br>
            <button type="submit">SUBMIT</button>
        </form>

    </div>
    <br>
</body>

</html>