<h1>Here's your table</h1>

<div>

    <form action="edit" method="GET">
        <input type="hidden" name="id" value={{id}} required><br>
        <label>name</label><br>
        <input type="text" name="name" value={{name}} required><br>
        <label>reps</label><br>
        <input type="number" name="reps" value={{reps}} required><br>
        <label>weight</label><br>
        <input type="number" name="weight" value={{weight}} required><br>
        <label>date</label><br>
        <input type="date" name="date" value={{date}} required><br>
        <label>unit</label><br>
        <input type="text" name="unit" value={{unit}} required><br>
        <button type="submit">SUBMIT</button>
    </form>

</div>
<br>